@page "/forgot-password"
@layout HeadlessLayout
@inherits ForgotPasswordPage

<PageTitle>Dima - Recuperar senha</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">

            <div class="d-flex justify-center pb-6 pt-6">
                <img src="imgs/dima.png"
                     alt="Dima - Controle Financeiro"
                     width="200" />
            </div>

            @if (RequestSent)
            {
                <div class="text-center">
                    <MudIcon Icon="@Icons.Material.Filled.MarkEmailRead"
                             Color="Color.Success"
                             Size="Size.Large"
                             Class="mb-4" />

                    <MudText Typo="Typo.h5"
                             GutterBottom="true">
                        Verifique seu e-mail
                    </MudText>

                    <MudText Typo="Typo.body1"
                             Class="mb-6">
                        Se o endereço informado estiver cadastrado,
                        enviaremos as instruções para redefinir sua senha.
                    </MudText>

                    <MudButton Href="/login"
                               Variant="Variant.Filled"
                               Color="Color.Primary">
                        VOLTAR AO LOGIN
                    </MudButton>
                </div>
            }
            else
            {
                <MudText Typo="Typo.h5"
                         GutterBottom="true">
                    Esqueci minha senha
                </MudText>

                <MudText Typo="Typo.body2"
                         Class="mb-6">
                    Informe o e-mail utilizado no cadastro.
                    Enviaremos um link para a redefinição da senha.
                </MudText>

                <EditForm Model="@InputModel"
                          OnValidSubmit="OnValidSubmitAsync">

                    <DataAnnotationsValidator />

                    <MudTextField T="string"
                                  Label="E-mail"
                                  HelperText="Informe seu e-mail cadastrado"
                                  InputType="InputType.Email"
                                  For="@(() => InputModel.Email)"
                                  @bind-Value="InputModel.Email"
                                  Disabled="@IsBusy"
                                  Immediate="true" />

                    <div class="d-flex align-center mt-8">
                        @if (IsBusy)
                        {
                            <MudProgressCircular Color="Color.Info"
                                                 Indeterminate="true"
                                                 Size="Size.Small" />
                        }
                        else
                        {
                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary">
                                ENVIAR
                            </MudButton>
                        }

                        <MudSpacer />

                        <MudButton Href="/login"
                                   Variant="Variant.Text">
                            VOLTAR
                        </MudButton>
                    </div>

                </EditForm>
            }

        </MudPaper>
    </MudItem>
</MudGrid>